.bdedit_loadingOverlay {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 34px;
    z-index: 9000;

    &.active {
        pointer-events: all;
        opacity: 1;
        animation: opacitydelay 1s forwards;

        .bdedit_loadingSpinner {
        }
    }

    .bdedit_loadingSpinner {
        position: absolute;
        bottom: 15px;
        right: 30px;
        z-index: 90001;
    }
}

.bdedit_editorOuterWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #202020;
}

.bdedit_editorWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bdedit_editor {
    display: flex;
    flex-grow: 1;
}

.bdedit_errorConsole {
    height: 0;
    color: #ff5252;
    font-family: inherit;
    font-size: 12px;

    &.active {
        max-height: 150px;
        height: auto;
        overflow-y: auto;
        .bdedit_errorMsg {
            display: block;
        }
    }

    .bdedit_errorMsg {
        display: none;
        padding: 10px;
        white-space: pre-wrap;
    }

    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background: #3ecc9c;
    }

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb:window-inactive {
        background: #3ecc9c;
    }
}

@-webkit-keyframes opacitydelay {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}